/*!
 * Copyright (c) Akveo 2019. All Rights Reserved.
 * Licensed under the Single Application / Multi Application License.
 * See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the 'docs' folder for license information on type of purchased license.
 */

@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@include nb-install-component() {
    .round {
        margin: -0.5rem;
        float: right;
        border-color: #32c5d2;
        background-color: #32c5d2;
    }
    .solar-card nb-card-header {
        border: none;
        padding-bottom: 0;
    }
    @include media-breakpoint-down(sm) {
        ngx-traffic {
            display: none;
        }
    }
}

/deep/ .action-icon {
    color: #8f9bb3;
}