<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-6">
                <nb-icon class="action-icon" icon="settings-2-outline"></nb-icon> Dersler
            </div>
            <div class="col-md-6">
                <a class="round">
                    <nb-select [selected]="type" (selectedChange)="getUserActivity($event); type = $event">
                        <nb-option *ngFor="let t of typeTexts" [value]="t.value">{{ t.text }}</nb-option>
                    </nb-select>
                </a>
            </div>

        </div>
    </nb-card-header>

    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>